.about {
  position: relative;
  z-index: 90;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background: url("assets/cloud_compress.jpg");
  background-position: bottom center;
  box-shadow: 0 2px 10px $main-brand-color;
  @include border-radius-mix('sm');


  &__name {
    width: 80vw;
    color: rgba(0, 0, 0, 0.75);
    font-family: $primary-font;
    text-align: center;
    padding-top: 50px;
  }

  &__name:after {
    margin-top: 10px;
    content: '';
    display: block;
    background-color: $dark-shadow;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    animation: underline 2s ease-in-out infinite;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  &__job-position {
    width: 80%;
    font-size: 1.2em;
    color: $dark-shadow;
    font-family: $secondary-font;
    text-align: center;
    margin-top: 25px;
  }

  &__my-description {
    width: 80%;
    margin: 40px auto;
    text-align: center;
    font-family: $primary-font;
    line-height: 1.6em;
    font-weight: bold;
  }

}

@media screen and (min-width: 768px) {
  .about {
    flex-direction: column;
    @include border-radius-mix('lg');


    &__name {
      width: 60vw;
      padding-top: 75px;
      font-size: 3em;
    }

    &__job-position {
      font-size: 1.6em;
      margin-top: 25px;
    }

    &__my-description {

    }
  }
}


@keyframes underline {

  0% {
    width: 100%;
  }

  50% {
    width: 0;
  }

  100% {
    width: 100%;
  }

}
