.projects {
  @include border-radius-mix();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-shadow: 0 0 5px  $dark-accent;
  margin-top: -25px;
  background-color: #fff;
  position: relative;
  z-index: 70;

  &__header {
    @include section-title();
  }


}


.card {
  width: 100%;
  max-width: 350px;
  margin: 25px 5px;

  background-color: $light-shadow;
  box-shadow: 0 0 5px $dark-shadow;


  border-radius: 5px;


  h4 {
    margin: 15px;
    font-family: $primary-font;
  }

  &__title {
    font-family: $secondary-font;
    text-align: center;
    padding: 15px 0;
    @include border-radius-mix();
    box-shadow: 0 2px 2px $dark-shadow;
  }

  &__body {
    margin-top: 5px;
    display: block;
    transform-origin: 0 0;
    width: 100%;
    height: 200px;

    overflow: hidden;

    border-radius: 5px;
  }

  &__links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 25px 0;
  }

  &__description {
    margin: 0 15px;
    font-family: $primary-font;
    line-height: 1.6em;
  }

  &__link {
    background-color: rgba($dark-accent, 0.7);
    color: white;
    text-decoration: none;
    width: 33%;
    text-align: center;
    border-radius: 15px;
    padding: 5px;
    transition: all 0.2s ease;
  }

  &__link:hover {
    background-color: rgba($dark-accent, 1);
  }
}


.stack {
  margin: 15px;
  list-style: none;

  &__item {
    font-family: $primary-font;
    line-height: 200%;
  }
}

.crud_json{
  background: url("./assets/CRUD_JSONPlaceholder.png");
}

.fiskars{
  background: url("./assets/fiskars.png");
}

.meme_gen{
  background: url("./assets/meme_generator.png");
}
