//colors

$light-shadow: #F2F6F7;
$light-accent: #93a4af;
$main-brand-color: #6B98B9;
$dark-accent: #30A6DE;
$dark-shadow: #2B3F63;

//fonts
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Roboto mono', monospace
