*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
.container{
  width: 80%;
  margin: 0 auto;
}

@import "scss/variables";
@import "scss/mixins";
@import "scss/header";
@import "scss/about";
@import "scss/skills";
@import "scss/projects";
@import "scss/contact";
